nav {
    padding-bottom: 50px !important;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-space {
    margin-bottom: 25px;
}

.center {
    text-align: center;
    padding-top: 25px;
}

.inline {
    display: inline-block;
    margin-right: 5px;
}

/*.bg-warning {
  background-color: #FF0000 !important;
}*/


#form label.required:after {
    content: "*";
    color: red;
}

#form .replacement {
    position: relative;
    top: -7px;
}

/*label:not(.optional):not(.custom-control-label):after {
  content:"*";
  color:red;
}*/
.cursor-pointer {
    cursor: pointer;
}

.hover-buttons {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hover-buttons button {
    margin-top: 10px;
}

.select2-container {
    width: 100% !important;
}

.btn-green {
    color: #FFFFFF;
    background-color: #28a745;
}
.bg-green{
    background-color: #28a745;
}

.btn-green:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-red {
    color: #FFFFFF;
    background-color: #dc3545;
}
.bg-red{
    background-color: #dc3545;
}

.btn-red:hover {
    color: #FFFFFF;
    background-color: #bb2d3b;
}

.btn-yellow {
    color: #000000;
    background-color: #ffcd39;
}

.btn-yellow:hover {
    background-color: #eeb714;
}
.bg-yellow{
    background-color: #ffcd39;

}

.btn-purple {
    color: #FFFFFF;
    background-color: #A569BD;
}

.btn-purple:hover {
    color: #FFFFFF;
    background-color: #684277;
}

.btn-blue {
    color: #FFFFFF;
    background-color: #007bff;
}
.bg-blue{
    background-color: #007bff;

}
.btn-blue:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.bg-assign{
    background-color: #0000CD

;
}
.btn-black {
    color: #FFFFFF;
    background-color: #343a40;
}

.btn-black:hover {
    color: #FFFFFF;
    background-color: #000000;
}
.bg-black{
    background-color: #000000;

}
.btn-orange {
    color: #FFFFFF;
    background-color: #F39C12;
}
.bg-orange{
    background-color: #F39C12;
}

.btn-orange:hover {
    color: #FFFFFF;
    background-color: #DD8F12;
}

.btn-coral{
    color: #FFFFFF;
    background-color:#FF7F50 ;
}

.btn-coral:hover{
    color: #FFFFFF;
    background-color:#f39b6f ;
}
.btn-grey {
    color: #FFFFFF;
    background-color: #7F8C8D;
}
.btn-grey:hover {
    color: #FFFFFF;
    background-color: #5E6768;
}

.btn-navy {
    color: #FFFFFF;
    background-color: #000080;
}

.btn-navy:hover {
    color: #FFFFFF;
    background-color: #000051;
}

.btn-pink {
    color: #FFFFFF;
    background-color: #DE3163;
}
.bg-pink{
    background-color: #DE3163;

}
.btn-pink:hover {
    color: #FFFFFF;
    background-color: #B0284F;
}

.card-btn-containers {
    margin: 10px 0;
  /*  background-color: #fff;*/
  
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}

.card-btn-containers .btn {
    margin: auto 2px;
    border:2px solid #FFFFFF;
}

.preview {
    font-size: 18px;
}

.ribbon{
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    width: 180px;
    top: 18px;
    right: -57px;
}

.terms{
    text-align: justify;
    font-size: 18px;
}

.terms > ul{
    margin: 0;
    padding: 0;    
}
.terms > ul > ul{
    padding: 0 2px;    
}


.terms ul ol{
    margin: 0;
    padding: 5px 0;

}






